.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Flexibly sized columns */
  column-gap: 7rem; /* Space between columns */
  row-gap: 1em; /* Space between rows */
  max-width: 90%; /* Adjusted to increase the width */
  margin: 0 50px; /* Center the container horizontally */
}

.topPicks {
  margin-top: 90px;
  margin-bottom: -60px;
  max-width: 100%; /* Adjusted to match the news container */
  border-radius: 40px;
  background: linear-gradient(to right, #292929, #292929);
  outline: 2px solid rgba(91, 91, 91, 0.3);
  padding-bottom: 20px;

}
h1{
  color: white;
  font-weight: 500;
  font-size: 24px;
  margin-left: 60px;
  padding-top: 20px;
}
.upper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
  margin-right: 30px;
}
app-history-news-card {
  grid-column: span 2;
}

app-news-card {
  grid-column: span 1; /* Default for regular card */
}
