<h1 mat-dialog-title>Select Your Preferences</h1>
<div mat-dialog-content>
  <button mat-button [ngClass]="{'selected': preferencesForm.get('technology')?.value}" (click)="togglePreference('technology')">
    Global Politics
  </button>
  <button mat-button [ngClass]="{'selected': preferencesForm.get('sports')?.value}" (click)="togglePreference('sports')">
    Technology
  </button>
  <button mat-button [ngClass]="{'selected': preferencesForm.get('health')?.value}" (click)="togglePreference('health')">
    Agriculture
  </button>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSave()" [disabled]="!preferencesForm.valid">Save</button>
</div>