.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #333331;
  outline: 2px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  width: 840px;
  height: 56px;
}

.search-input {
  font-size: 20px;
  font-weight: 500;
  border: none;
  padding: 10px 15px;
  flex: 1;
  border-radius: 25px 0 0 25px;
  outline: none;
  background-color: #333331;
  color: white;
}

.search-icon{
  color: white;
  height: 35px;
  width: 35px;
  font-size: 35px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2px;
  cursor: pointer;
}
.search-input::placeholder {
  color: #d1d1d1;
  font-weight: 520;
}
.nav{
  padding-top: 20px;
  width: 100%;
  height: 140px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
span{
  color: #f84036;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 60px;
  position: fixed;
  left: 80px;
  cursor: none;
}
.bi-clipboard-data-fill{
  color: #b9b9b9;
  height: 40px;
  width: 40px;
  position: absolute;
  left: 40px;
  cursor: none;
}

.logout{
  outline: 2px solid rgba(255, 255, 255, 0.3);
  color: #c5c1c1;
  font-weight: 500;
  padding:10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  position: absolute;
  right: 30px;
  cursor: pointer;
}
.cont{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 45px;
}
.topics{
  display: flex;
  position: fixed;
  top: 115px;
  width: 350px;
  justify-content: space-between;
}

.topics a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  padding-bottom: 8px;
}

.topics a.active {
  background-color: #545451;

  border-radius: 25px;
}
